<!DOCTYPE html>
<html>
  <head>
    <title>PaymentTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key == 'alert' ? 'warning' : key %> alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
          <li>
            <div class="flash"><%= value %></div>
          </li>
        </ul>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
